<app-menu ></app-menu> 
<div class="container col-md-5">

    <div style="height: 50px"></div>
<form #createSurvey="ngForm" (ngSubmit)="onSubmit(createSurvey.value)" >
    <div class="form-group">
        <label for="exampleInputPassword1">Anket Secin</label>
        <select ngModel class="custom-select custom-select-md mb-3" name="surveyCaptionId"> 

          <option >Cevap Seciniz</option> 
              <option *ngFor="let item of surveyCaptions"  value="{{item.id}}">{{item.id}} {{item.surveyTitle}}</option> 
            </select> 
      </div>  
        <div class="form-group">
          <label for="exampleInputEmail1">Soru</label>
          <input type="text" class="form-control" required ngModel name="question" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Cevap 1</label>
          <input type="text" class="form-control" required ngModel name="c1" id="exampleInputPassword1" placeholder="">
        </div> 
        <div class="form-group">
                <label for="exampleInputPassword1">Cevap 2</label>
                <input type="text" class="form-control" required ngModel name="c2" id="exampleInputPassword1" placeholder="">
              </div> 
        <div class="form-group">
            <label for="exampleInputPassword1">Cevap 3</label>
            <input type="text" class="form-control" required ngModel name="c3" id="exampleInputPassword1" placeholder="">
            </div> 
        <div class="form-group">
            <label for="exampleInputPassword1">Cevap 4</label>
            <input type="text" class="form-control" required ngModel name="c4" id="exampleInputPassword1" placeholder="">
            </div> 

        <button type="submit" class="btn btn-primary">Ekle</button>
      </form>

      <hr>
      <button  class="btn btn-danger cikis"  (click)="logout()">Çıkış Yap</button>
</div>