<app-menu ></app-menu> 
<div class="container col-md-5">

        <div style="height: 50px"></div>
    <form #createCaption="ngForm" (ngSubmit)="onSubmit(createCaption.value)" >
            <div class="form-group">
              <label for="exampleInputEmail1">Anket Başlığı</label>
              <input type="text" class="form-control" required ngModel name="caption" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>
            
    
            <button type="submit" class="btn btn-primary">Oluştur</button>
          </form>
    
          <hr> 
    </div>