<div class="container">
              <span *ngFor="let item of results">
                <div class="card">
                    <div class="card-header ">
                    {{item.username | uppercase}}
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{item.surveyQuestion}}</p>
                        <footer class="blockquote-footer">{{item.answer}}</footer>
                    </blockquote>
                    </div>
                </div> 
</span>
<button  class="btn btn-danger cikis"  (click)="logout()">Çıkış Yap</button>

</div>