
<div class="container-sm col-md-5">  
        <div style="height: 50px"></div>
        <form  #form>
<li *ngFor="let item of listQuestions">
    <div *ngIf ="item.soru; else elseBlock">
         

<nav aria-label="breadcrumb">
                <ol class="breadcrumb"> 
                  <li class="breadcrumb-item active" aria-current="page">{{item.soru}} </li>
                </ol>
              </nav>  
    </div>
    
    <ng-template #elseBlock>
        
  <div class="form-group form-check">
            <input type="radio" name="{{item.questionId}}" id="{{item.questionId}}"  (change)="onChangeAnswer(item)" class="form-check-input" required="required">
        <label class="form-check-label" for="exampleCheck1">{{item.cevap}}</label>
      </div>
      </ng-template>
    
</li>

<button type="button" class="btn btn-success" disabled="{{isSurveyComplete}}" (click)="submitSurvey()">Anketi Gönder</button> 

</form>

</div>
