<div class="container-sm">
<div class="alert alert-success" role="alert">
       <h2 class="text-center">Anket tamamlandi !!</h2>
      </div>
      <div class="container">
            <div class="row text-center">
              <div class="col">
                    <button type="button" routerLink="login" class="btn btn-primary">Diğer Anketleri Gor</button>
              </div>
              <div class="col">
                    <button type="button" (click)="logout()" class="btn btn-danger cikis">Çıkış Yap</button>
                  
              </div>
            </div>
    </div>