<ul class="nav nav-pills nav-sidebar flex-column special-menu" data-widget="treeview" role="menu" data-accordion="false">      
        <li class="nav-item">
            <a routerLink="/create-caption" class="nav-link">
              <i class="nav-icon far fa-plus"></i>
              <p>
                  Anket Olustur 
              </p>
            </a>
          </li>
  
          <li class="nav-item">
              <a routerLink="/create-survey" class="nav-link">
                <i class="nav-icon far fa-plus"></i>
                <p>
                    Soru Ekle
                </p>
              </a>
            </li>
            <li class="nav-item">
                <a routerLink="/survey-assign" class="nav-link">
                  <i class="nav-icon far fa-reply"></i>
                  <p>
                      Anket Ata
                  </p>
                </a>
              </li>
              <li class="nav-item">
                  <a routerLink="/add-user" class="nav-link">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        Kullanıcı Ekle
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/show-results" class="nav-link">
                      <i class="nav-icon far fa-table"></i>
                      <p>
                          Sonuclari Gor
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/list-user-results" class="nav-link">
                        <i class="nav-icon far fa-table"></i>
                        <p>
                            Puanlari Listele
                        </p>
                      </a>
                    </li>
          </ul>